<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.karhatsu.suosikkipysakit"
    android:versionCode="7"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/activity_main_title" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.AddStopActivity"
            android:label="@string/activity_add_stop_title" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.karhatsu.suosikkipysakit.MainActivity" />
        </activity>
        <activity
            android:name=".ui.DeparturesActivity"
            android:label="@string/activity_departures_title" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.karhatsu.suosikkipysakit.MainActivity" />
        </activity>
        <activity
            android:name=".ui.LinesActivity"
            android:label="@string/activity_lines_title" >
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.karhatsu.suosikkipysakit.AddStopActivity "/>
        </activity>
        <activity
            android:name=".ui.LineStopsActivity"
            android:label="@string/activity_line_stops_title" >
            <meta-data 
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.karhatsu.suosikkipysakit.LinesActivity "/>
        </activity>
        <activity
                android:name=".ui.StopsVisibilityActivity"
                android:label="@string/activity_stops_visibility_title" >
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.karhatsu.suosikkipysakit.MainActivity "/>
        </activity>
    </application>

</manifest>